# Exercise 4.6 - Combining & Exporting Data

## This script contains the following points

### 1. Import a new data set

### 2. Check the dimensions of the imported dataframe

### 3. Merge the dataframe with your df_ords dataframe

### 4. Use the indicator argument to check whether there was a full match between the two dataframes

## 1. Import a new data set

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create a path to main folder
path = r'C:\Users\nguye\OneDrive\02-2022 Instacart Basket Analysis'

In [3]:
# Import datasets
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'))

## 2. Check the dimensions of the imported dataframe

In [4]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords.shape

(3421083, 7)

## 3. Merge the dataframe with df_ords dataframe

In [7]:
# Merge dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [8]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
df_merged_large.shape

(32434489, 11)

## 4. Use the indicator argument to check whether there was a full match between the dataframes

In [10]:
# Show merge flag frequency
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting

In [11]:
# Export to csv
#df_merged_large.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'))

# Export to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))