## This script contains the following points

### 1. Import pkl file

### 2. Check shape of imported dataframe

### 3. Combined imported dataframe with products data

### 4. Confirm results of merge

### 5. Export dataframe to suitable format

# 1. Import pkl file

In [55]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [56]:
# Create path to main folder
path = r'C:\Users\nguye\OneDrive\02-2022 Instacart Basket Analysis'

In [57]:
# Import pickle file
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [58]:
# Import products file
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

# 2. Check shape of imported dataframe

In [59]:
# Check shape of pkl file
df_ords_prods.shape

(32434489, 11)

In [60]:
# Check shape of products file
df_prods.shape

(49672, 6)

In [61]:
# Check the output
df_ords_prods.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [62]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### The shape of the pickle file matches the exported file from the previous notebook. Common key in both dataframe is 'product_id', which will be used to merge the dataframes.

# 3. Combined pickle df with products df

In [63]:
# Drop _merge column in order to merge with new dataframe
df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

In [64]:
# Drop Unnamed:0 columns
df_ords_prods = df_ords_prods.drop(columns = ['Unnamed: 0'])
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [65]:
# Merge dataframes
df_merged = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [66]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# 4. Confirm results of merge

In [67]:
# Check the shape of merged df
df_merged.shape

(32404859, 14)

In [68]:
# Show merge flag frequency
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# 5. Export dataframe

In [69]:
# Export to pkl format
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))