# Task 4.8 - Grouping Data & Aggregating Variables

## This scripts contain the following points:
### 1. Importing
### 2. Aggregation
### 3. Creating Flags
### 4. Exporting

# Importing

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create a path to the main folder
path = r'C:\Users\nguye\OneDrive\02-2022 Instacart Basket Analysis'

In [3]:
# Import dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_derive.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,traffic_status,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly Busy,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly Busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly Busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least Busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least Busy,Slowest days,Most orders

# Aggregation

## Question 2

In [4]:
# Find the average order by department
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Question 3

### This results shows the average order for the whole dataset as opposed to just the first one million rows from the exercise. Here we see all 21 departments and in the previous we only saw 8 departments.

# Creating Flags

## Question 4

In [5]:
# Create a column for total orders of each customer
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,traffic_status,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly Busy,Regular days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly Busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly Busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least Busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least Busy,Slowest days,Most orders,10

In [7]:
# Create the loyalty flag for 'Loyal customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
# Create the loyalty flag for 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
# Create the loyalty flag for 'New customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

## Question 5

In [11]:
# Check the spending habits of loyalty customer groups
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'median', 'sum']})

                     prices
                       mean  min      max median          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0    7.4  106814042.2
New customer      13.294670  1.0  99999.0    7.4   83011787.2
Regular customer  12.495717  1.0  99999.0    7.4  198391693.2

## Question 6

In [12]:
# Create a column for average order price for each customer
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,traffic_status,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid range product,Regularly Busy,Regular days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly Busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Regularly Busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Least Busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid range product,Least Busy,Slowest days,Most orders,10,New customer,6.367797

In [14]:
# Create spending flag for 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spender_flag'] = 'Low spender'

In [15]:
# Create spending flag for 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spender_flag'] = 'High spender'

In [17]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,traffic_status,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid range product,Regularly Busy,Regular days,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid range product,Least Busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid range product,Least Busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Regular days,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid range product,Least Busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid range product,Regularly Busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Regular days,Most orders,22,Regular customer,3.980556,Low spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Regular days,Most orders,22,Regular customer,3.980556,Low spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly Busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender

In [18]:
# Check the frequency 
ords_prods_merge['spender_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_flag, dtype: int64

## Question 7

In [19]:
# Create a column on the frequency of each customer
ords_prods_merge['med_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,traffic_status,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,med_freq
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid range product,Regularly Busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid range product,Regularly Busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid range product,Regularly Busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid range product,Least Busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid range product,Least Busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5

In [22]:
# Create frequency flag for 'Non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['med_freq'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [23]:
# Create frequency flag for 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['med_freq'] > 10) & (ords_prods_merge['med_freq'] <= 20), 'frequency_flag'] = 'Regular customer'

In [24]:
# Create frequncy flag for 'Frequent customer'
ords_prods_merge.loc[ords_prods_merge['med_freq'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [26]:
ords_prods_merge.tail(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,traffic_status,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,med_freq,frequency_flag
32404839,461844,200351,5,2,11,9.0,15408,2,0,Training Fluoride Free Toothpaste Apple & Ban...,...,Mid range product,Regularly Busy,Regular days,Most orders,11,Regular customer,7.863636,Low spender,19.0,Regular customer
32404840,216145,205587,1,3,14,NaN,15408,6,0,Training Fluoride Free Toothpaste Apple & Ban...,...,Mid range product,Regularly Busy,Slowest days,Most orders,10,New customer,7.946970,Low spender,30.0,Non-frequent customer
32404841,2941852,200463,2,1,15,30.0,8682,11,0,All Purpose Eraser,...,Mid range product,Regularly Busy,Busiest days,Most orders,4,New customer,8.444737,Low spender,30.0,Non-frequent customer
32404842,2321285,203389,16,2,10,6.0,8682,7,0,All Purpose Eraser,...,Mid range product,Regularly Busy,Regular days,Most orders,17,Regular customer,8.606030,Low spender,5.0,Frequent customer
32404843,609055,202557,1,0,13,NaN,43553,2,0,Orange Energy Shots,...,Low range product,Busiest Day,Busiest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404844,1928449,202557,4,4,9,16.0,43553,4,1,Orange Energy Shots,...,Low range product,Least Busy,Slowest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404845,2222639,202557,6,5,9,4.0,43553,3,1,Orange Energy Shots,...,Low range product,Regularly Busy,Regular days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404846,339942,202557,8,4,10,4.0,43553,3,1,Orange Energy Shots,...,Low range product,Least Busy,Slowest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404847,2798193,202557,9,4,13,7.0,43553,5,1,Orange Energy Shots,...,Low range product,Least Busy,Slowest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404848,2391791,202557,11,6,6,8.0,43553,2,1,Orange Energy Shots,...,Low range product,Regularly Busy,Regular days,Least orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404849,576295,202557,12,3,10,11.0,43553,14,1,Orange Energy Shots,...,Low range product,Regularly Busy,Slowest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404850,960088,202557,13,4,12,15.0,43553,3,1,Orange Energy Shots,...,Low range product,Least Busy,Slowest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404851,343962,202557,14,0,10,3.0,43553,2,1,Orange Energy Shots,...,Low range product,Busiest Day,Busiest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404852,2329472,202557,15,6,12,6.0,43553,2,1,Orange Energy Shots,...,Low range product,Regularly Busy,Regular days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404853,694731,202557,16,1,14,2.0,43553,2,1,Orange Energy Shots,...,Low range product,Regularly Busy,Busiest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,Low range product,Regularly Busy,Regular days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,Low range product,Regularly Busy,Regular days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",...,Mid range product,Regularly Busy,Regular days,Average orders,3,New customer,7.631579,Low spender,15.0,Regular customer
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,Mid range product,Regularly Busy,Slowest days,Least orders,3,New customer,7.631579,Low spender,15.0,Regular customer
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,...,Mid range product,Least Busy,Slowest days,Most orders,16,Regular customer,7.684746,Low spender,13.0,Regular customer

In [27]:
# Check the frequency
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

### One thing to note is the 'NaN' values. This is attributed to the fact that the user made one single purchase and therefore there is no value associated with the 'days_since_prior_order'.

# Exporting

In [28]:
# Export to pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grp_agg.pkl'))